* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: rgba(137, 135, 161, 0.15);
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

.link{
    font-size: 18px;
    text-decoration: none;
    margin-left: 60px;
    color: #8987A1;
}

span{
    color: #252432;
    font-weight: bold;
}

/* Mobile Screen---(Nav Bar)*/
@media screen and (max-width: 576px) {
    body{
        background-color: white;
    }

    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0px 10px;
    }

    .cart a:nth-child(1),
    .cart a:nth-child(2),
    .cart a:nth-child(3){
        display: none;
    }
}
/* ----- */

.banner{
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
}

.heading{
    font-weight: bold;
    font-size: 65px;
}

.ff{
    color: #E95A08;
    font-weight: bold;
    font-size: 65px;
}

.subtitle{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.banner-img{
    justify-self: end;
}

/* Mobile Screen---(Banner)*/
@media screen and (max-width: 576px) {
    .banner{
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px 0px 0px 0px;
        width: 100%;
    }

    .title{
        order: 2;
        margin: 15px 10px 0px 10px;
    }

    .heading{
        font-weight: bold;
        font-size: 37px;
    }

    .ff{
        color: #E95A08;
        font-weight: bold;
        font-size: 37px;
    }

    .subtitle{
        color: rgba(0, 0, 0, 0.5);
        font-size: 18px;
        margin-top: 7px;
        width: auto;
    }

    .banner-img{
        order: 1;
    }

    .banner-img img{
        width: 100%;
    }   
}
/* ----- */